# The URL that the app is hosted on, with trailing slash
# Default dev server:
# APP_URL="http://localhost:3000/"
APP_URL=

# The URL for your pocketbase instance, with trailing slash
# Default dev server:
# PB_URL="http://127.0.0.1:8090/"
PB_URL=

# For Swetrix analytics. Leave ID empty to disable, leave URL empty to use default.
SWETRIX_URL=
SWETRIX_ID=