@import url('https://fonts.googleapis.com/css2?family=Fira+Mono:wght@400;500;700&display=swap');
@import "tailwindcss";

:root {
  font-size: 20px;
  color: white;

  font-variant-ligatures: none;

  font-family: "Lexend";
}

@theme {
  --color-bg: #0d0e10;
  --color-bg-light: #16191d;
  --color-bg-lighter: #1b222a;
  --color-bg-lightest: #2c2f37;
  --color-bg-light-transparent: rgba(22, 25, 29, 0.5);

  --color-primary: #254fa8;
  --color-primary-disabled: #16367a;
  --color-secondary: #3263ce;
  --color-tertiary: #3364ce;

  --color-danger: #9f0900;
  --color-danger-secondary: #6c0a05;

  --color-success: #009f2d;
  --color-success-secondary: #056c13;
}

select, option {
  font: -moz-pull-down-menu;
}

@layer base {
  @media (min-width: 768px) {
    h1 {
      font-size: 2rem;
      font-weight: 700;
    }

    h2 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1.25rem;
      font-weight: 500;
    }

    h4 {
      font-size: 1rem;
      font-weight: 500;
    }
  }

  @media (max-width: 768px) {
    h1 {
      font-size: 1.5rem;
      font-weight: 700;
    }

    h2 {
      font-size: 1.25rem;
      font-weight: 600;
    }

    h3 {
      font-size: 1rem;
      font-weight: 500;
    }

    h4 {
      font-size: 0.8rem;
      font-weight: 500;
    }
  }
}

@layer utilities {
  .absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .text-clamp {
    font-size: clamp(1rem, 2vw, 1.5rem);
  }

  .overflow-scroll::-webkit-scrollbar {
    display: none;
  }

  .pixelated {
    image-rendering: pixelated;
    image-rendering: -moz-crisp-edges;
  }

  .fade-in {
    animation: fade-in 0.1s forwards ease-out;
  }

  .fade-in-75 {
    animation: fade-in-75 0.1s forwards ease-out;
  }

  .scale-in {
    animation: scale-in 0.1s forwards ease-out;
  }

  .scale-in-center {
    animation: scale-in-center 0.1s forwards ease-out;
  }

  .fade-out {
    animation: fade-out 0.1s forwards ease-out;
  }

  .fade-out-75 {
    animation: fade-out-75 0.1s forwards ease-out;
  }

  .scale-out {
    animation: scale-out 0.05s forwards ease-out;
  }

  .scale-out-center {
    animation: scale-out-center 0.05s forwards ease-out;
  }

  .expand-down {
    animation: expand-down 0.25s forwards ease-out;
  }

  .expand-up {
    animation: expand-up 0.25s forwards ease-out;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 100%;
    }
  }

  @keyframes fade-in-75 {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 75%;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 100%;
    }

    100% {
      opacity: 0%;
    }
  }

  @keyframes fade-out-75 {
    0% {
      opacity: 75%;
    }

    100% {
      opacity: 0%;
    }
  }

  @keyframes scale-in {
    0% {
      transform: scale(85%);
    }

    100% {
      transform: scale(100%);
    }
  }

  @keyframes scale-in-center {
    0% {
      transform: translate(-50%, -50%) scale(85%);
    }

    100% {
      transform: translate(-50%, -50%) scale(100%);
    }
  }

  @keyframes scale-out {
    0% {
      transform: scale(100%);
    }

    100% {
      transform: scale(85%);
    }
  }

  @keyframes scale-out-center {
    0% {
      transform: translate(-50%, -50%) scale(100%);
    }

    100% {
      transform: translate(-50%, -50%) scale(85%);
    }
  }

  @keyframes expand-down {
    0% {
      height: 0;
    }

    100% {
      height: 100%;
    }
  }

  @keyframes expand-up {
    0% {
      height: 100%;
    }

    100% {
      height: 0;
    }
  }

  .bottom-fade {
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
    overflow-y: scroll;
  }
}

@keyframes underline-expand {
  0% {
    width: 0;
    background-color: transparent;
  }

  100% {
    width: 100%;
    background-color: var(--primary);
  }
}

@keyframes underline-shrink {
  0% {
    width: 100%;
    background-color: var(--primary);
  }

  100% {
    width: 0;
    background-color: transparent;
  }
}

.bounce {
  animation: bounce 1.5s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  
  40% {
    transform: translateY(-30px);
  }

  60% {
    transform: translateY(-15px);
  }
}

.table-alternate-colors tbody > tr:nth-child(odd) {
  background-color: var(--background-light);
}

/* round the outside of a 2-column grid, not the inside */
.round-outside-grid {
  & > * {
    border-radius: 0.2rem;
  }

  & > :first-child {
    border-top-left-radius: 1rem;
  }

  & > :nth-child(2) {
    border-top-right-radius: 1rem;
  }

  & > :nth-last-child(2) {
    border-bottom-left-radius: 1rem;
  }

  & > :last-child {
    border-bottom-right-radius: 1rem;
  }
}

/* Scrollbar for Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #555 #1a1a1a;
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #1a1a1a;
}

*::-webkit-scrollbar-thumb {
  background-color: #555;
  border-radius: 10px;
  border: 2px solid #1a1a1a;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #777;
}

ul, ol {
  padding-left: 1.5rem;
}

li {
  list-style: circle;
}

a:not(.unstyled) {
  color: var(--color-primary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;

  &:hover {
    color: var(--color-secondary);
    text-decoration: underline;
    text-decoration-color: var(--color-secondary);
    text-underline-offset: 0.2rem;
    text-decoration-thickness: 0.1rem;
  }
}

/* table {
  border: 2px solid var(--color-bg-lighter);
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
}

thead * {
  font-weight: 600;
}

tbody {
  border-top: 2px solid var(--color-bg-lighter);
}

tr {
  border-bottom: 1px solid var(--color-bg-lighter);
}

td, th {
  padding: 0.25rem 0.5rem;
  text-align: left;
}

td:not(:last-child), th:not(:last-child) {
  border-right: 2px solid var(--color-bg-lighter);
} */